<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    box-sizing: border-box;
    color: #992d2d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
    color: #b93939;
  }

  p {
    margin: 0;
    color: #efecec;
  }
</style>

<div>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="brocherPage">
      <ng-template matStepLabel>brocherPage</ng-template>
      <h1>Thank you for purchasing a SIM card</h1>
      <br/>
      <h2>Let's get connected</h2>
      <br/>
      <p>Please keep you SIM kit and identification documents ready.</p>
      <br />
        <button mat-button  (click)="onBrochureNextButtonClick(stepper)">Get connected</button>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>SIM Validation</ng-template>
        <mat-form-field>
          <mat-label>Sim Number</mat-label>
          <input matInput placeholder="Sim Number" formControlName="simNumber" minlength="13" maxlength="13"  required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Service Number</mat-label>
          <input matInput placeholder="Service Number" formControlName="serviceNumber" minlength="10" maxlength="10" required />
        </mat-form-field>
        <br />
        <button mat-button (click)="onFirstStepNextButtonClick(stepper)">Next</button>
      </form>
    </mat-step>
    <mat-step [stepControl]="offerPage">
      <ng-template matStepLabel>offerPage</ng-template>
      <h1>Your offer details</h1>
      <br/>
      <h2>Special offer</h2>
      <br/>
      <p>Get 120 MB data and 100 calls daily for 10 days at Rs.20</p>
      <br />
        <button mat-button (click)="onOfferNextButtonClick(stepper)">Next</button>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Basic User validation</ng-template>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input matInput placeholder="Date of Birth" formControlName="dob" required />
        </mat-form-field>
        <br />
        <input type="checkbox" formControlName="confirm" /> <span>The information provided by me is true to my belief</span>
        <br />
        <button mat-button (click)="onSecondStepNextButtonClick(stepper)">Next</button>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Customer Personal details</ng-template>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <mat-select formControlName="title">
            <mat-option *ngFor="let title of titles" [value]="title.code">{{
              title.name
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" formControlName="firstName" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastName" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" [value]="secondFormGroup.value.email" readonly  />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>ConfirmEmail</mat-label>
          <input matInput placeholder="ConfirmEmail" formControlName="confirmEmail"  required  />
        </mat-form-field>
        <br />
        <button mat-button (click)="onConfirmNextButtonClick(stepper)">Next</button>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Customer Address Details</ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput placeholder="Address" formControlName="address" required />
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>Select a State</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngFor="let state of states" [value]="state.code">{{
              state.name
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>pincode</mat-label>
          <input matInput placeholder="pincode" formControlName="pincode" minlength="6" maxlength="6" required />
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>city</mat-label>
          <input matInput placeholder="city" formControlName="city" required />
        </mat-form-field>
        <br/>
        <button mat-button matStepperNext>Next</button>
      </form>
    </mat-step>
    <mat-step [stepControl]="fifthFormGroup">
      <form [formGroup]="fifthFormGroup">
        <ng-template matStepLabel>ID Proof Validation</ng-template>
        <mat-form-field>
          <mat-label>ID type</mat-label>
          <input matInput placeholder="Aadhar" formControlName="idType" readonly />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>ID No</mat-label>
          <input matInput placeholder="Id no" formControlName="idNo" minlength="12" maxlength="12" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Select a State</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngFor="let state of states" [value]="state.code">{{
              state.name
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" formControlName="firstName" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastName" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input matInput placeholder="Date of Birth" formControlName="dob" required />
        </mat-form-field>
        <br />
        <button mat-button (click)=onClickIdNextButtonClick(stepper)>Next</button>
      </form>
    </mat-step>
    <mat-step [stepControl]="sixthFormGroup">
        <ng-template matStepLabel>Step 5</ng-template>
        <span>SIM number:</span>
        <p> {{ firstFormGroup.value.simNumber }} </p>
        <span>Service number:</span>
        <p> {{ firstFormGroup.value.serviceNumber }} </p>
        <span>First name:</span>
        <p> {{ thirdFormGroup.value.firstName}} </p>
        <span>Last name:</span>
        <p> {{ thirdFormGroup.value.lastName}} </p>
        <span>email:</span>
        <p> {{ secondFormGroup.value.email }} </p>
        <br/>
        <form [formGroup]="sixthFormGroup">
        <input type="checkbox" formControlName="confirm" /> <span>The information provided by me is true to my belief</span>
        </form>
        <br />
        <button mat-button (click)="onSubmit(stepper)">Next</button>
    </mat-step>
    <mat-step [stepControl]="seventhFormGroup">
      <ng-template matStepLabel>Success</ng-template>
      <h1>Deatils Submitted Successfully</h1>
    </mat-step>
  </mat-horizontal-stepper>
</div>
