<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
</style>

<div>
  <mat-horizontal-stepper [linear]="true">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Step 1</ng-template>
        <mat-form-field>
          <mat-label>Sim Number</mat-label>
          <input matInput placeholder="Sim Number" formControlName="simNumber" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Service Number</mat-label>
          <input matInput placeholder="Service Number" formControlName="serviceNumber" required />
        </mat-form-field>
        <br />
        <button mat-button matStepperNext (click)="callApi()">Next</button>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Step 2</ng-template>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input matInput placeholder="Date of Birth" formControlName="dob" required />
        </mat-form-field>
        <br />
        <input type="checkbox" formControlName="confirm" />
        <br />
        <button mat-button matStepperNext>Next</button>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Step 3</ng-template>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" formControlName="firstName" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastName" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required />
        </mat-form-field>
        <br />
        <button mat-button matStepperNext>Next</button>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Step 3</ng-template>
        <mat-form-field>
          <mat-label>ID type</mat-label>
          <input matInput placeholder="Aadhar" formControlName="idType" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>ID No</mat-label>
          <input matInput placeholder="Id no" formControlName="idNo" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Select a State</mat-label>
          <mat-select>
            <mat-option *ngFor="let state of states" [value]="state.code">{{
              state.name
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required />
        </mat-form-field>
        <br />
        <button mat-button matStepperNext>Next</button>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
